html {
  height: 100%;
  background-image: linear-gradient(#fc5e55, #fa4083);
}

body {
  background-image: url(img/image-lion-background.png);
  background-position: top center;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  font-family: "Roboto", Helvetica, sans-serif;
  color: white;
  font-size: 1.125rem;
}

a {
  text-decoration: none;
  color: white;
}

.container {
  width: 1024px;
  min-height: 300px;
  margin-left: auto;
  margin-right: auto;
}

header {
  min-height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 10px;
  border-bottom: 1px solid lightgrey;
}

main {
  min-height: 300px;
  display: flex;
  align-content: center;
}

.herobox1 {
  /* min-height: 300px; */
  flex: 2;
}

.herobox2 {
  /* min-height: 300px; */
  flex: 1;
  margin-top: 45px;
}

/* tarjetas */
.cards {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.card1 {
  background-image: url(img/image-background-card1.jpg);
  background-size: cover;
  margin-top: 1em;
  background-position: bottom;
  min-height: 300px;
  width: 30%;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.228);
}

.card2 {
  background-image: url(img/image-background-card2.jpg);
  background-size: cover;
  margin-top: 1em;
  background-position: bottom;
  min-height: 300px;
  width: 30%;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.228);
}

.card3 {
  background-image: url(img/image-background-card3.jpg);
  background-size: cover;
  margin-top: 1em;
  background-position: bottom;
  min-height: 300px;
  width: 30%;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.228);
}

.card1,
.card2,
.card3 {
  padding: 30px 30px 20px 30px;
  box-sizing: border-box;
}

h1 {
  font-size: 3.25rem;
  color: white;
  margin-bottom: 1rem;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.228);
}

h2 {
  font-size: 2rem;
  font-family: "Playfair Display", sefir;
  margin-bottom: 1rem;
}

p {
  font-size: 1.45rem;
  margin-bottom: 0.5rem;
}

/* margen 10px es top, 30px es right, 20px es botton 30px es left */
.cards p {
  font-size: 0.85rem;
  line-height: 1.75em;
  margin-top: 10px;
  /* text-align: center; */
}

.cards i {
  font-size: 100px;
  padding-top: 30px;
}

.my_button {
  background-color: white;
  color: #fa4083;
  font-family: "Playfair Display", sefir;
  padding: 11px 25px 11px 25px;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.228);
}
/* efecto cuando posicionamos mouse */
.my_button:hover {
  background-color: rgb(144, 220, 103);
}

a.my_button {
  display: inline-block;
  margin-top: 20px;
}

nav a.my_button {
  margin-left: 30px;
}
/* modificado por que no se ajustaba como en el video ,.navbutton_book */
.navbutton{
  border: 1px solid white;
  padding: 11px 20px;
  font-family: "Playfair Display", sefir;
  display: inline-block;
  position: relative;
}
/* .navbutton_book{
  margin-right: 4px;
} */

/* botones del nav */
a.navbutton {
  color: white;
  text-decoration: none;
}

/* testimonios */
.testimonials {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 100px; 
}

/* div con los testimonios */
.tbox {
  width: 47%;
  padding: 50px;
  border: 1px solid white;
  box-sizing: border-box;
  margin-top: 50px;

}

/* .herobox1 h1:first-child{
    color: blue;
} */

.tbox p:last-of-type{

  font-size: 0.8rem;
  padding-left: 30px;
}

.dropdown{
  display: none;
  position: absolute;
  z-index: 1;
  padding-top: 20px;
}

.navbutton:hover .dropdown{
  display: block;
}

.dropdown .navbutton{
  width: 120px;
  background-color: white;
}

.dropdown .navbutton a{
  color: #fa4083;
}



